@model FileConvertProject.Models.FileConvert

@{
    ViewData["Title"] = "File Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>FileConvert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadFile" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input type="file" asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



